@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cabin Sketch', cursive;
	width: 100vw;
	height: 100vh;
	background-color: beige;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 42px;
	margin: 20px 0;
}

button {
	font-family: inherit;
	font-weight: 700;
	align-self: center;
	color: #41403e;
	font-size: 18px;
	transition: all 0.5s ease;
	border: solid 4px;
	background-color: rgba(216, 190, 152, 0.678);
	border-color: rgb(180, 138, 98);
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
	padding: 7px 12px;
	margin: 10px;
}

button:hover {
	border-color: #b6ac7a;
	background-color: rgba(238, 228, 142, 0.849);
	transform: scale(1.1);
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

.main-container {
	width: 600px;
	height: 700px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
	}
	.main-container {
		width: 400px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 24px;
		margin: 10px 0;
	}
	.main-container {
		width: 290px;
		height: 420px;
		margin: 10px;
	}
	button {
		font-size: 12px;
		padding: 3px 8px;
	}
}