/* List page css */

.posts-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post-item {
	padding: 5px 0;
	font-size: 20px;
	font-weight: 700;
}

.post-item a:hover {
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.item-id {
	padding-right: 20px;
}

.pages-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
}

.page-number button {
	width: 40px;
	height: 40px;
	margin: 0 3px;
	border-width: 2px;
}

footer img {
	width: 40px;
	margin: 0 10px;
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
}

footer img:hover {
	opacity: 1;
	transform: scale(1.5);
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	/* .note-text, .lamp-img, .note-img {
		display: none;
	}
	.cactus-img {
		right: 1%;
		top: -35%;
	}
	.link-new-record button {
		left: -80%;
		bottom: -15%;
	}
	.posts-container {
		width: 100%;
		height: 400px;
		padding: 20px;
		margin: 20px 0;
	}
	.post-item {
		font-size: 17px;
		padding: 3px 0;
		display: inline;
	}
	.footer {
		margin: 20px;
	} */
}

@media screen and (max-width: 480px) {
	/* .posts-container {
		padding: 20px 20px 0 20px;
		margin: 20px 0;
	}
	.post-item {
		font-size: 15px;
	}
	.note-text, .note-img, .lamp-img, .cactus-img {
		display: none;
	}
	.link-new-record button {
		left: -25%;
		bottom: -30%;
	}
	.page-number-container {
		width: 160px;
		margin-bottom: 30px;
	}
	.page-number button {
		padding: 2px 0;
		width: 25px;
		height: 25px;
		margin: 3px;
	}
	.footer img {
		width: 30px;
	} */
}