/* NewRecord page css*/

.new-record-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-record-container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: inherit;
}

.new-record-container input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: darkgray 2px solid;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
	font-family: inherit;
	font-size: inherit;
	background-color: ivory;
}

.new-record-container textarea {
	resize: vertical;
	height: 100px;
	max-height: 150px;
}

.new-record-container input[type="number"] {
	width: 80px;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.new-record-container form button {
	background-color: rgba(165, 216, 152, 0.678);
	border-color: rgb(108, 180, 98);
}

.new-record-container form button:hover {
	background-color: rgb(210, 250, 200);
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 320px) {}