/* NewRecord page css*/

.new-record-container {
	width: 100%;
}

.page-title {
	position: relative;
}

.quote {
	width: 260px;
	position: absolute;
	bottom: -100%;
	right: -70%;
	transform: rotate(10deg);
	background-color: khaki;
	padding: 10px;
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.quote p {
	text-align: center;
	font-size: 16px;
	padding-top: 5px;
}

.new-record-container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: inherit;
}

.new-record-container input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: darkgray 2px solid;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
	font-family: inherit;
	font-size: inherit;
	background-color: ivory;
}

.new-record-container textarea {
	resize: vertical;
	height: 100px;
	max-height: 150px;
}

.new-record-container input[type="number"] {
	width: 120px;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.new-record-container form button {
	background-color: rgba(165, 216, 152, 0.678);
	border-color: rgb(108, 180, 98);
}

.new-record-container form button:hover {
	background-color: rgb(210, 250, 200);
}

@media screen and (max-width: 768px) {
	.quote {
		display: none;
	}
}

@media screen and (max-width: 480px) {}