/* RecordDetails page css */

.details-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.record-item {
	width: 100%;
}

.record-item p {
	padding: 15px;
	text-align: center;
	background-color: rgba(204, 197, 183, 0.74);
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.user-userid {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.user, .userid {
	width: 100%;
}

.item-key-style {}

.id-userid {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	/* .window-img {
		display: none;
	}
	.flower-img {
		left: -5%;
	}
	.cat-img {
		width: 60px;
	}
	.details-subcontainer {
		margin-bottom: 20px;
	} */
}

@media screen and (max-width: 480px) {
	/* .details-container {
		width: 100%;
		height: 100%;
		justify-content: space-evenly;
	}
	.details-subcontainer {
		width: 290px;
	}
	.record-item {
		flex-direction: column;
		padding: 0;
	}
	.record-item p {
		padding: 8px;
		font-size: 18px;
	}
	.item-key-style {
		width: 100px;
		padding: 4px 0;
		margin: 3px 0;
		font-size: 16px;
	}
	.cat-img {
		right: 13%;
		top: -17%;
		width: 50px;
		transform: rotate(-90deg)
	}
	.flower-img {
		display: none;
	} */
}