/* RecordDetails page css */

.details-container {
	width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.record-item {
	padding: 8px 0;
	font-size: 20px;
	display: flex;
	flex-direction: row;
}

.record-item p {
	width: 100%;
	padding: 15px;
	text-align: center;
	font-size: 22px;
	background-color: rgba(204, 197, 183, 0.74);
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.item-key-style {
	width: 100px;
	padding: 15px 0px;
}

.details-subcontainer {
	position: relative;
}

.window-img {
	background-image: url('../img/window.png');
	left: -55%;
	top: -30%;
}

.flower-img {
	background-image: url('../img/flower.png');
	left: -20%;
	bottom: -30%;
	height: 200px;
	width: 100px;
}

.cat-img {
	background-image: url('../img/cat.png');
	right: -13%;
	bottom: 5%;
	width: 70px;
}

@media screen and (max-width: 768px) {
	.window-img {
		display: none;
	}
	.flower-img {
		left: -5%;
	}
	.cat-img {
		width: 60px;
	}
	.details-subcontainer {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	.details-container {
		width: 100%;
		height: 100%;
		justify-content: space-evenly;
	}
	.details-subcontainer {
		width: 290px;
	}
	.record-item {
		flex-direction: column;
		padding: 0;
	}
	.record-item p {
		padding: 8px;
		font-size: 18px;
	}
	.item-key-style {
		width: 100px;
		padding: 4px 0;
		margin: 3px 0;
		font-size: 16px;
	}
	.cat-img {
		right: 13%;
		top: -17%;
		width: 50px;
		transform: rotate(-90deg)
	}
	.flower-img {
		display: none;
	}
}