/* RecordDetails page css */

.details-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.record-item {
	align-items: center;
	width: 70%;
}

.record-item p {
	padding: 10px;
	text-align: center;
	background-color: rgba(204, 197, 183, 0.74);
	outline: none;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
	.details-container {
		gap: 15px;
	}
	.record-item {
		width: 100%;
	}
}